.containerHome {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containerHome header {
  width: 50%;
  margin: 30px 0 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerHome header img {
  width: 55px;
  height: 55px;
  border-radius: 30px;
  margin-left: 7px;
}

.containerHome header div {
  display: flex;
  align-items: center;
}

.containerHome input {
  width: 50%;
  padding: 16px;

  background: #e6e6e6;
  border-radius: 5px;
  border: none;

  font-size: 16px;
}

.buttonAdd {
  width: 50%;
  padding: 16px;
  font-weight: 700;

  background: #ea4c89;
  color: #ffffff;

  border-radius: 5px;
  margin: 12px 0 30px;
  border: none;

  cursor: pointer;
  transition: filter 0.5s;

  font-size: 16px;
}

.buttonAdd:hover {
  filter: brightness(0.9);
}

/* .card-container { */
/* display: flex; */
/* align-items: center; */
/* justify-content: space-between; */
/* } */

.deletexxbutton {
  width: 55px;
  height: 55px;
  border-radius: 30px;
  margin-left: 7px;

  background: #e6e6e6;
}

.buttonDeletexx {
  background: #ff4500;
  /* color: #ffffff; */
  border: none; /* Remover borda */
  border-radius: 50%; /* Bordas arredondadas para criar um botão circular */
  width: 30px; /* Largura */
  height: 30px; /* Altura */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  cursor: pointer; /* Transforma o cursor em um ponteiro ao passar por cima */
  margin-left: 10px; /* Margem à esquerda para separar do cartão */
  font-size: 12px;
}

.imagem {
  width: 55px;
  height: 55px;
  border-radius: 30px;
  margin-left: 7px;
}

.tableContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 50%;
  padding: 3px 10px 3px 12px;

  background: #ff4500;
  color: #ffffff;

  border-radius: 5px;
  margin: 0 0 7px 0;
  border: none;

  font-size: 12px;
}

.containerHomeDiv200 {
  display: flex;
  align-items: center;
}


.containerHomeDiv300 {
  padding: 0 10px 0 0;
  font-size: 10px;
  margin: 7px 0 11px 0;
}

.buttonDelete {
  background: #008000;

  border-radius: 50%;
  border: none;
  font-size: 14px;

  cursor: pointer;
  transition: filter 0.5s;
}

.buttonDelete:hover {
  filter: brightness(0.9);
  background: #00ff00;
}

.tamanhoHora {
  font-size: 13px;
}

.tamanhoHoraT {
  display: flex;
  align-items: center;
  flex-direction: column;
}
