li,
#secao,
.sectionsecao,
footer {
  /* color: red; */
}

body main h1 {
  color: green;
}

main article h2 {
  color: blue;
}

button + button {
  color: red;
  margin-left: 20px;
}

ul > li {
  color: green;
}

/* nao se usa assim */
ul > li[class='red'] {
  /* color: red; */
}

ul li:first-child {
  color: gray;
  font-weight: bold;
}

ul li:nth-of-type(2) {
  color: #8b008b;
  font-weight: bold;
}

ul li:nth-child(3) {
  color: #ff8c00;
  font-weight: bold;
}

ul li:nth-child(odd) {
  /* IMPARES*/
  color: #d2691e;
  font-weight: bold;
  background: #eee;
}

ul li:nth-child(even) {
  /* PARES*/
  color: #4b0082;
  font-weight: bold;
  background: #dcdcdc;
}

a:hover {
  color: #00ff00;
}

input2:focus {
  border-color: blue;
  border-width: 2px; /* Adjust the thickness as needed */
  outline: none; /* remove a borda do navegador */
}

input:disabled {
  background-color: gray;
}

input:required {
  background-color: #00ff00;
}

/* content: "" tem que conter mesmo que em branco */
aside li::before {
  content: '❌';
}
aside li::after {
  content: '⭕';
}

aside li::first-line {
  /* Somente a primeira linha, recebe */
  color: #4b0082;
  background-color: #00ff00;
}

aside li:nth-of-type(2)::first-line {
  /* Somente a primeira linha, recebe */
  color: #00ff00;
  background-color: #4b0082;
}

aside li:nth-of-type(3)::first-line {
  /* Somente a primeira linha, recebe */
  color: #00ff00;
  background-color: #4b0082;
}

